[MASTER]
ignore=.git,__pycache__,.venv,venv,.eggs,*.egg,build,dist,.mypy_cache,.pytest_cache,.tox
jobs=0
persistent=yes
suggestion-mode=yes

[MESSAGES CONTROL]
disable=
    C0111,  # missing-docstring
    C0103,  # invalid-name
    R0903,  # too-few-public-methods
    R0913,  # too-many-arguments
    W0511,  # fixme
    C0114,  # missing-module-docstring
    C0115,  # missing-class-docstring
    C0116,  # missing-function-docstring

[FORMAT]
max-line-length=100
indent-string='    '
expected-line-ending-format=LF

[BASIC]
good-names=i,j,k,ex,Run,_,id,db

[DESIGN]
max-args=7
max-attributes=10
max-bool-expr=5
max-branches=12
max-locals=15
max-parents=7
max-public-methods=20
max-returns=6
max-statements=50
min-public-methods=0

[SIMILARITIES]
ignore-comments=yes
ignore-docstrings=yes
ignore-imports=yes
min-similarity-lines=4

[TYPECHECK]
ignored-modules=pydantic

[IMPORTS]
allow-wildcard-with-all=no
